<header>
  <div class="header-container py-3 bg-primary">
    <a [routerLink]="['/landing']" class="home-item nav-item">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
      <span class="pl-1 pr-3">Reflectiz</span>
    </a>
    <a [routerLink]="['/landing']" class="nav-item" [routerLinkActive]="['is-active']">
      <span class="pr-3">Landing</span>
    </a>
    <a [routerLink]="['/dashboard']" class="nav-item" [routerLinkActive]="['is-active']">
      <span class="pr-3">Dashboard</span>
    </a>
  </div>
</header>
